html, body {
    background: url(../images/jungle.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
   
}
.container {
	background-color: #fff;
	opacity: 0.8;
    padding: 20px;
    height: 60%;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}
#gifBtn{
    background-color:purple;
}
#gifsHere{
    background-color: blue;
   
}
#input-box{
    background-color: aqua;
}
#action-input{
    width:100%;
}
input{
    margin:5%;
    width:90%;
}